.footer {
  background-color: beige; }
  .footer div {
    padding: 10px; }

.m-1 {
  margin: 10px; }

.m-2 {
  margin: 20px; }

.m-3 {
  margin: 30px; }

.m-4 {
  margin: 40px; }

.color1 {
  color: black; }

.color2 {
  color: white; }

.color3 {
  color: #beccbe; }

.encabezado {
  text-align: center;
  padding: 40px;
  font-family: arial; }

.boton-enviar, .boton-resetear {
  background-color: #cdcdcd;
  border: 1px solid black; }

.boton-resetear {
  background-color: #262727;
  color: aliceblue; }

.textoUbi div {
  color: black;
  background-color: gray;
  font-size: 20px;
  text-align: center; }

.inicio {
  background-image: url(../assets/img/fondomanza.jpg);
  padding: 200px;
  background-position-y: 70%;
  background-position-x: 40%; }
  .inicio p {
    font-family: monospace;
    font-size: 24px; }

@media screen and (max-width: 768px) {
  .inicio {
    padding: 100px;
    background-position-x: 60%; } }

.imgIndex {
  height: 300px;
  background-position-y: bottom; }

.center {
  text-align: center; }
  .center p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 60px; }

.imgNosotros img {
  height: 300px; }

.row > * {
  padding-left: 0;
  padding-right: 0; }

.menu {
  width: 60%;
  margin-left: 20%; }

.imgMenu img {
  width: 300px;
  height: 400px;
  margin: 0; }

.reserva {
  background-image: url(../assets/img/cafeteria.webp);
  margin-top: 0px;
  padding: 10px; }
